:root {
    /* === Tipografia === */
    --font-sans: 'Inter', sans-serif;
    /* === Colores ===*/
    --color-cream-bg: #FFF8E1;
    --color-gold-accent: #F4D03F;
    --color-gold-text: #D4AF37;
    --color-red-accent: #E57373;
    --color-red-light: #FEE2E2;
    --color-text-dark: #1F2937;
    --color-text-gray: #9CA3AF;
    /* === Sombras === */
    --shadow-card-gold: 0 6px 0 0 var(--color-gold-accent);
    --shadow-card-red: 0 6px 0 0 var(--color-red-accent);
}
body {
  font-family: var(--font-sans);
  background-color: var(--color-cream-bg);
  color: var(--color-text-dark);
}